:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  margin: 50%;
  display: flex;
  justify-content: wrap;
  border: 1px solid black;
  background-color: grey;
}

.colorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
  height: 13rem;
}

.colorContainer {
  border: 1px solid blue;
  width: 10rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

img {
  width: 7rem;
  height: 7rem;
  border: 1px solid black;
}

.sliderBox {
  display: flex;
  flex-direction: column;
}

div ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 1rem;
}